body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0b;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #000;
}

.navbar a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 14px 30px;
  background: gold;
  color: black;
  margin: 10px;
  text-decoration: none;
}

.outline {
  background: transparent;
  border: 1px solid gold;
  color: gold;
}
